*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin:  auto;
    
}

h3{
    margin-top: 20px;
    color:blue;
}

table{
    margin-top: 20px;
}

table > tr{
    margin: top 8px;
}

.submit{
    margin: top 20px;
    text-align: center;
}

 tr >td{
    padding-right: 20px;
    padding-top: 10px;


}
.wt{
    width: 60px;
}

.tong{
    padding-top: 30px;
}

.cl_pink{
    background-color: pink;
}

h4{
    color: black;
}